@import '../../index.scss';


body {
  margin: 0;
  padding: 0px;
  width: 100%;
}
.main-slider {
  margin: 0;
  padding: 0px;
  height: 100%;
  max-width: 100vw;
  .slick-slider {
    img {
      width: 100%;
      height: 100%;
    }
}

.card {
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  h4 {
    max-width: 1170px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 12%;
    font-size:2em;
    text-shadow: rgb(59, 59, 59) 0 0 1px;
    @include headlinefont;
  }
  h3 {
    text-align: center;
    position: absolute;
    top:  40%;
    left: 12%;
    @include headlinesecondfont;
  }
  p {
    line-height: 1.5;
  }
}

.slick-dots{
  margin-bottom: 5%;
}
.slick-dots li {
  margin: 0 16px;
}
.slick-dots li button:before {
  border-radius: 50%;
  border: 3px solid #8a8a8a;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  height: 17px;
  width: 17px;

}
.slick-dots li.slick-active button:before {
  background: $activeColor;
  border: 3px solid $activeColor;
  z-index: 1;
  opacity: 1;
  height: 17px;
  width: 17px;
}


.circle{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(57, 57, 57, 0.5);
  &:hover {
    background-color: rgba(250, 250, 250, 0.253);
  }
}


$inactiveColor: rgba(0, 0, 0, 0.4);
.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: color .2s linear;
  cursor: pointer;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.623);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  &.left {
    left: 5%;      
    align-items: flex-start;
    i { 
      padding: 0.7em 0.88em;
    }
  }
  
  &.right {
    right: 5%;      
    align-items: flex-end;
    i { 
      padding: 0.7em 0.95em;
    }
  }
  &:hover {
    color: $inactiveColor;
  }
}






}


