@import '../../../index.scss';


* {
    box-sizing: border-box;
  }

.headerwrapper{
    margin: 0 auto;
    max-width: 1170px;
}

.header-inner{
    @include headermainfont;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    align-items: center;
    :first-child{
        align-items: flex-start;
    }
    :last-child{
        align-items: flex-end;
    }
    i{
        color: $activeColor;
        font-size: 1.2em;
        padding: 0 5px;
    }
}



.header-inner-left{
    .App-logo{    
    width: 190px;
    height: 69px;
}}




.backcall {    border-radius: 5px;
    border-width: 1px;
    border-color: $activeColor;
    border-style: solid;
    width: 169px;
    height: 36px;
    background-color: white;
    color: $activeColor;
    &:hover {
        background-color: $activeColor;
        color: #ffffff;
    }
}

.header-inner-center{ display: flex;}

    